<mat-card>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Author" [(ngModel)]="author">
  </mat-form-field>

  <button type="submit" mat-button (click)="handleSubmit()">Submit</button>
</mat-card>
