a {
  text-decoration: none;
  color: white;
  padding: 3px;
}

a:hover, a:active {
  color: lightgray;
  background-color: red;
  border-radius: 5px;
  padding: 3px;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {

}
