<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div fxFlex fxLayout fxLayoutAlign="">
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/books">Books</a>
      </li>
      <li>
        <a routerLink="/form">Form</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
