/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-tab-group {
  text-align: center;
}
mat-tab-group p {
  padding-top: 20px;
}
